@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  
}
/* Header Styles */
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #f8f8f8;
}

header div a {
  color: black;
  text-decoration: none;
}

#left-header {
  display: flex;
  align-items: left;
}

#right-header {
  display: flex;
  align-items: right;
}

#intro-video {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

/* Category Styles */
.category-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
}

/* Dark Mode Styles */
body {
  margin: 0;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

header div.dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: black;
}

header div a.dark-mode {
  color: white;
  text-decoration: none;
}

#header-div.dark-mode {
  background-color: black;
  color: white;
}

#left-header.dark-mode {
  display: flex;
  align-items: left;
  background-color: black;
  color: white;
}

#right-header.dark-mode {
  display: flex;
  align-items: right;
  background-color: black;
  color: white;
}

#logo.dark-mode {
  display: none;
}

#logo-dark.dark-mode {
  display: block;
}

#logo-dark {
  display: none;
}

#logo {
  display: block;
}

body.dark-mode #spotify-logo {
  display: none;
}

#spotify-logo {
  display: block;
}

#spotify-logo-dark {
  display: none;
}

body.dark-mode #spotify-logo-dark {
  display: block;
}

/* Merch Styles */
#merch-list {
  padding: 16px;
  align-self: center;
} 

.product-list {
  margin-left: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
}

.product-card {
  /* margin-left: 60px; Temporary fix */
  color : black;
  padding: 50px;
  padding-bottom: 10px;
  border: #f8f8f8 1px solid;
  border-radius: 5px;
}

#card__image {
  width: 100px;
  height: auto;
  height: auto;
  margin-bottom: 8px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  text-decoration: none;
}

body.dark-mode .product-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  text-decoration: none;
  color : white;
}

#highlighted-songs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#highlighted-songs div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 600px;
  margin: 60px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
}

h3 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 50px;
}

#highlighted-merch {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#highlighted-merch div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 500px;
  margin: 60px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
}

#highlighted-merch a{
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
}

